/* ==========================================================================
** Reset
========================================================================== */

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	padding: 0;
	margin: 0;
}

:focus {
	-moz-outline: none;
	outline: none;
}

a:active,
a:hover {
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

b,
strong {
	font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button, input, select {
	-moz-appearance: none;
	-moz-border-bottom-colors: none;
	-webkit-appearance: none;
	border: 0;
	text-transform: none;
}

select {
	-moz-box-sizing: content-box;
			 box-sizing: content-box;
}

button {
	overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type='search'] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
		 -moz-box-sizing: content-box;
					box-sizing: content-box;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input:focus,
button:focus {
	outline: none;
}

select::-ms-expand {
	display: none;
}

fieldset {
	border: 0;
}

textarea {
	overflow: auto;
	resize: none;
}

figure {
	margin: 1em 40px;
}

li {
	list-style: none;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

optgroup {
	font-weight: bold;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}


#canvas {
	width: 960px;
	margin: 0 auto;
}

.dialog {
	max-width: 720px;
}


a { color: #1d9b47; text-decoration: none; }
a:hover { color: #177c39; }

a:hover {
    -webkit-transition:color 0.135s ease-in;
    -moz-transition:color 0.135s ease-in;
    -o-transition:color 0.135s ease-in;
    transition:color 0.135s ease-in;
}

.button {
    font-family: 'OpenSansExtraBold', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #389457;
    border-radius: 5px;
    display: inline-block;
    padding: 0 14px 1px 14px;
    position: relative;
    text-shadow:0px 0px 8px rgba(40, 132, 47, .5), 1px 1px 2px #28842f;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3), inset 0 1px 0 0px rgba(203, 219, 35, 0.6), inset 0 -1px 0 0 rgba(56, 148, 87, 1), inset 0 0px 0 1px rgba(203, 219, 35, 0.15);
    white-space: nowrap;
    background: rgb(58,166,65);
    background: -moz-linear-gradient(top,  rgba(151,200,46,1) 25%, rgba(58,166,65,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(151,200,46,1)), color-stop(100%,rgba(58,166,65,1)));
    background: -webkit-linear-gradient(top,  rgba(151,200,46,1) 25%,rgba(58,166,65,1) 100%);
    background: -o-linear-gradient(top,  rgba(151,200,46,1) 25%,rgba(58,166,65,1) 100%);
    background: -ms-linear-gradient(top,  rgba(151,200,46,1) 25%,rgba(58,166,65,1) 100%);
    background: linear-gradient(to bottom,  rgba(151,200,46,1) 25%,rgba(58,166,65,1) 100%);
}

.slim-button {
    font-size: 11px;
    line-height: 20px;
    border-radius: 4px;
}

.small-button {
    font-size: 11px;
    line-height: 27px;
    top: -1px;
}

.large-button {
    margin: 20px 0 0 0;
    font-size: 30px;
    line-height: 64px;
    min-width: 220px;
    border-radius: 7px;
    text-shadow: 0px 0px 8px #23753B, 1px 1px 2px #23753B;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0,.5), inset 0 1px 1px 0px rgba(203, 219, 35, 0.8), inset 0 -2px 0 0 rgba(49, 136, 78, .7);
}

.secondary-button {
    color: #4BAE37;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #8d8d8d;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4), inset 0 1px 0 0px rgba(255, 255, 255, 0.6), inset 0 -1px 0 0 rgba(0, 0, 0, .2), inset 0 0px 0 1px rgba(255, 255, 255, 0.15);
    background: white;
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 25%, rgba(213,213,213,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(252,252,252,1)), color-stop(100%,rgba(213,213,213,1)));
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 25%,rgba(213,213,213,1) 100%);
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 25%,rgba(213,213,213,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 25%,rgba(213,213,213,1) 100%);
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 25%,rgba(213,213,213,1) 100%);
}

.button.secondary-button:hover, .small-button.secondary-button:hover {
    color: #4BAE37;
    border: 1px solid #747474;
    border-bottom: 1px solid #4bae37;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4), inset 0 1px 0 0px rgba(255, 255, 255, 1), inset 0 -1px 0 0 rgba(75, 174, 55, 1), inset 0 0px 0 1px rgba(203, 219, 35, 0.15);
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 25%, rgba(219,219,219,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(219,219,219,1)), color-stop(100%,rgba(219,219,219,1)));
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 25%,rgba(219,219,219,1) 100%);
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 25%,rgba(219,219,219,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 25%,rgba(219,219,219,1) 100%);
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 25%,rgba(219,219,219,1) 100%);
}

.button:hover {
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3), inset 0 1px 0 0px rgba(203, 219, 35, 1), inset 0 -1px 0 0 rgba(56, 148, 87, 1), inset 0 0px 0 1px rgba(203, 219, 35, 0.15);
    color: #fff;
    background: rgb(172,211,55);
    background: -moz-linear-gradient(top,  rgba(172,211,55,1) 25%, rgba(71,184,78,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(172,211,55,1)), color-stop(100%,rgba(71,184,78,1)));
    background: -webkit-linear-gradient(top,  rgba(172,211,55,1) 25%,rgba(71,184,78,1) 100%);
    background: -o-linear-gradient(top,  rgba(172,211,55,1) 25%,rgba(71,184,78,1) 100%);
    background: -ms-linear-gradient(top,  rgba(172,211,55,1) 25%,rgba(71,184,78,1) 100%);
    background: linear-gradient(to bottom,  rgba(172,211,55,1) 25%,rgba(71,184,78,1) 100%);
}

.large-button:hover {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0,.5), inset 0 1px 1px 0px rgba(203, 219, 35, 0.8), inset 0 -2px 0 0 rgba(49, 136, 78, .7);
    background: rgb(182,217,60);
    background: -moz-linear-gradient(top,  rgba(182,217,60,1) 25%, rgba(76,193,83,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(182,217,60,1)), color-stop(100%,rgba(76,193,83,1)));
    background: -webkit-linear-gradient(top,  rgba(182,217,60,1) 25%,rgba(76,193,83,1) 100%);
    background: -o-linear-gradient(top,  rgba(182,217,60,1) 25%,rgba(76,193,83,1) 100%);
    background: -ms-linear-gradient(top,  rgba(182,217,60,1) 25%,rgba(76,193,83,1) 100%);
    background: linear-gradient(to bottom,  rgba(182,217,60,1) 25%,rgba(76,193,83,1) 100%);
}

.small-button-busy,
.small-button-busy:hover {
    background-color: red;
    background: linear-gradient(to bottom, rgba(172,211,55,1) 1%,rgba(151,200,46,1) 50%,rgba(79,185,76,1) 50%,rgba(79,185,76,1) 69%,rgba(79,185,76,1) 98%);
    background: url("/sparcade/assets/images/play/button_loading_white.gif") center center no-repeat, -moz-linear-gradient(top, rgba(172,211,55,1) 1%, rgba(151,200,46,1) 50%, rgba(79,185,76,1) 50%, rgba(79,185,76,1) 69%, rgba(79,185,76,1) 98%);
    background: url("/sparcade/assets/images/play/button_loading_white.gif") center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(172,211,55,1)), color-stop(50%,rgba(151,200,46,1)), color-stop(50%,rgba(79,185,76,1)), color-stop(69%,rgba(79,185,76,1)), color-stop(98%,rgba(79,185,76,1)));
    background: url("/sparcade/assets/images/play/button_loading_white.gif") center center no-repeat, -webkit-linear-gradient(top, rgba(172,211,55,1) 1%,rgba(151,200,46,1) 50%,rgba(79,185,76,1) 50%,rgba(79,185,76,1) 69%,rgba(79,185,76,1) 98%);
    background: url("/sparcade/assets/images/play/button_loading_white.gif") center center no-repeat, -o-linear-gradient(top, rgba(172,211,55,1) 1%,rgba(151,200,46,1) 50%,rgba(79,185,76,1) 50%,rgba(79,185,76,1) 69%,rgba(79,185,76,1) 98%);
    background: url("/sparcade/assets/images/play/button_loading_white.gif") center center no-repeat, -ms-linear-gradient(top, rgba(172,211,55,1) 1%,rgba(151,200,46,1) 50%,rgba(79,185,76,1) 50%,rgba(79,185,76,1) 69%,rgba(79,185,76,1) 98%);
    -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(203,219,35,0.5);
    -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(203,219,35,0.5);
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(203,219,35,0.5);
    color: transparent;
    text-shadow: none;
    cursor: default;
}

.secondary-button-busy,
.secondary-button-busy:hover {
    background-color: #fefefe;
    background: url("/sparcade/assets/images/play/button_loading_green.gif") center center no-repeat, -moz-linear-gradient(top, white 0%, #E4E4E4 100%);
    background: url("/sparcade/assets/images/play/button_loading_green.gif") center center no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#E4E4E4));
    background: url("/sparcade/assets/images/play/button_loading_green.gif") center center no-repeat,-webkit-linear-gradient(top, white 0%,#E4E4E4 100%);
    background: url("/sparcade/assets/images/play/button_loading_green.gif") center center no-repeat,-o-linear-gradient(top, white 0%,#E4E4E4 100%);
    background: url("/sparcade/assets/images/play/button_loading_green.gif") center center no-repeat,-ms-linear-gradient(top, white 0%,#E4E4E4 100%);
    background: url("/sparcade/assets/images/play/button_loading_green.gif") center center no-repeat, linear-gradient(to bottom, white 0%,#E4E4E4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
    color: transparent;
    text-shadow: none;
    cursor: default;
    border-bottom: 1px solid #B6B6B6;
    border-top: 1px solid #B6B6B6;
    border-left: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 0px 4px 0px rgba(0, 0, 0, 0.2);
}

